[MASTER]
ignore=CVS

[MESSAGES CONTROL]
disable=missing-docstring,invalid-name

[FORMAT]
max-line-length=100

[DESIGN]
max-args=5
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10
min-public-methods=2
max-public-methods=20

[IMPORTS]
known-standard-library=numpy,scipy
known-third-party=pandas,matplotlib

[LOGGING]
logging-modules=logging

[TYPECHECK]
generated-members=numpy.*,scipy.*

[CODE QUALITY]
disable=too-many-arguments,too-many-locals,too-many-return-statements,too-many-branches,too-many-statements,too-many-instance-attributes,too-few-public-methods
